.toggle {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 15px;
}

.toggle button {
  margin: 15px;
  background-color: rgba(37, 122, 249, 0.985);
  width: 55px;
  height: 20px;
  border-radius: 3px;
  border: none;
  color: white;
}

.toggle button:hover {
  background-color: rgba(37, 122, 249, 0.8);
  color: white;
  cursor: pointer;
}


.toggle div .codebtn {
  margin: 15px;
  background-color: rgba(37, 122, 249, 0.985);
  width: 100px;
  height: 20px;
  border-radius: 3px;
  border: none;
  color: white;
}

.toggle div .codebtn:hover {
  background-color: rgba(37, 122, 249, 0.8);
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: white;
}