.toggle {
  width: 100%;
  height: 50px;
  text-align: center;
}

.toggle button {
  margin: 15px;
  background-color: rgba(37, 122, 249, 0.985);
  width: 55px;
  height: 20px;
  border-radius: 3px;
  border: none;
  color: white;
}

.toggle button:hover {
  background-color: rgba(37, 122, 249, 0.8);
  color: white;
  cursor: pointer;
}
